<ion-header no-border>
  <ion-navbar transparent>
  </ion-navbar>
</ion-header>

<ion-content>
  <div class="login-container">
    <img class="logo" src="../../assets/imgs/Logo_BKF.jpg" alt="" />
    <form [formGroup]="formLogin">
      <ion-item>
        <label>{{ '%label.username%' | translate }}</label>
        <ion-input type="text" placeholder="{{ '%label.username%' | translate }}" formControlName="username" ></ion-input>
      </ion-item>
      <ion-item>
        <label>{{ '%label.password%' | translate }}</label>
        <ion-input type="password" placeholder="{{ '%label.password%' | translate }}" formControlName="password"></ion-input>
      </ion-item>
      <button ion-button margin [disabled]="!formLogin.valid" (click)="onLogin()">{{"%signin%"|translate}}</button>
      <p (click)="scan()"><strong>Sign in using QR codes</strong></p>
    </form>
  </div>
</ion-content>
