page-login {
    .logo {
        width: 100%;
        height: auto;
        padding-top: 2vh;
        margin-bottom: 8vh;
    }
    span {
        color: white;
    }
    ion-item {
        padding-left: 10px !important;
        margin-bottom: 10px;
        background-color: transparent !important;
        font-size: 0.9em;
    }
    // ::-webkit-input-placeholder {
    //     color: white !important;
    // }
    .login-container {
        // color: white;
        position: absolute;
        top: 0;
        padding: 8vw;
        text-align: center;
        width: 100%;
        margin: 0 auto;
        z-index: 2;
    }
    ion-button {
        opacity: 0.8;
    }
}
