<!--
  Generated template for the MoldinoutConfirmOutPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <ion-title>ConfirmOut</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col col-5 align-self-center>
        <p style="font-family:sans-serif; font-size: 1.1em; text-align: right;">Confirm Out:</p>
      </ion-col>
      <ion-col col-7 align-self-center>
        <p style="font-family:sans-serif; font-size: 1em; text-align: left;">{{ CreateDate | datetime: 'dateAndTime' }}</p>
      </ion-col>
      <ion-col col-5 align-self-center>
        <p style="font-family:sans-serif; font-size: 1.1em; text-align: right;">By:</p>
      </ion-col>
      <ion-col col-7 align-self-center>
        <p style="font-family:sans-serif; font-size: 1em; text-align: left;">{{ FullName }}</p>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-list>
    <ion-item-divider>
      <ion-label>
        Picture Trasport:
      </ion-label>
    </ion-item-divider>
    <ion-grid class="card-background-page">
      <ion-row>
        <ion-col col-6 *ngIf="tmpFile1?.length < 1">
          <pre style="text-align: center;">รูปทะเบียนรถ</pre>
          <ion-card class="block">
            <ion-icon name="add" class="addIcon" (click)="openCamera(1)"></ion-icon>
            <img style="height: 150px;" src="../../assets/imgs/images.png" alt=""/>
          </ion-card>
        </ion-col>
        
        <ion-col col-6 *ngFor="let photo of tmpFile1;">
          <pre style="text-align: center;">รูปทะเบียนรถ</pre>
          <ion-card class="block">
            <ion-icon name="trash" class="deleteIcon" (click)="deletePhoto(1)"></ion-icon>
            <img style="height: 150px;" [src]="photo?.photo" (tap)="tapViewPhoto(photo?.photo)" alt="" />
            <ion-card-content>
              <p class="gps">{{ photo?.latitude }}, {{ photo?.longitude }}</p>
            </ion-card-content>
          </ion-card>
        </ion-col>

        <ion-col col-6 *ngIf="tmpFile2?.length < 1">
          <pre style="text-align: center;">รูปใบขับขี่</pre>
          <ion-card class="block">
            <ion-icon name="add" class="addIcon" (click)="openCamera(2)"></ion-icon>
            <img style="height: 150px;" src="../../assets/imgs/images.png" alt=""/>
          </ion-card>
        </ion-col>
        
        <ion-col col-6 *ngFor="let photo of tmpFile2;">
          <pre style="text-align: center;">รูปใบขับขี่</pre>
          <ion-card class="block">
            <ion-icon name="trash" class="deleteIcon" (click)="deletePhoto(2)"></ion-icon>
            <img style="height: 150px;" [src]="photo?.photo" (tap)="tapViewPhoto(photo?.photo)" alt=""/>
            <ion-card-content>
              <p class="gps">{{ photo?.latitude }}, {{ photo?.longitude }}</p>
            </ion-card-content>
          </ion-card>
        </ion-col>

        <ion-col col-6 *ngIf="tmpFile3?.length < 1">
          <pre style="text-align: center;">รูปหลังรถ</pre>
          <ion-card class="block">
            <ion-icon name="add" class="addIcon" (click)="openCamera(3)"></ion-icon>
            <img style="height: 150px;" src="../../assets/imgs/images.png" alt=""/>
          </ion-card>
        </ion-col>
        
        <ion-col col-6 *ngFor="let photo of tmpFile3;">
          <pre style="text-align: center;">รูปหลังรถ</pre>
          <ion-card class="block">
            <ion-icon name="trash" class="deleteIcon" (click)="deletePhoto(3)"></ion-icon>
            <img style="height: 150px;" [src]="photo?.photo" (tap)="tapViewPhoto(photo?.photo)" alt=""/>
            <ion-card-content>
              <p class="gps">{{ photo?.latitude }}, {{ photo?.longitude }}</p>
            </ion-card-content>
          </ion-card>
        </ion-col>

        <ion-col col-6 *ngIf="tmpFile4?.length < 1">
          <pre style="text-align: center;">อื่นๆ</pre>
          <ion-card class="block">
            <ion-icon name="add" class="addIcon" (click)="openCamera(4)"></ion-icon>
            <img style="height: 150px;" src="../../assets/imgs/images.png" alt=""/>
          </ion-card>
        </ion-col>

        <ion-col col-6 *ngFor="let photo of tmpFile4;">
          <pre style="text-align: center;">อื่นๆ</pre>
          <ion-card class="block">
            <ion-icon name="trash" class="deleteIcon" (click)="deletePhoto(4)"></ion-icon>
            <img style="height: 150px;" [src]="photo?.photo" (tap)="tapViewPhoto(photo?.photo)" alt=""/>
            <ion-card-content>
              <p class="gps">{{ photo?.latitude }}, {{ photo?.longitude }}</p>
            </ion-card-content>
          </ion-card>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-list>
  <form [formGroup]="form">
    <ion-item>
      <ion-label floating>Remark</ion-label>
      <ion-textarea formControlName="Remark" rows="6" autosize></ion-textarea>
    </ion-item>
  </form>
</ion-content>

<ion-footer>
  <ion-item no-padding class="btn-setting-fav">
    <ion-row class="two-col-button">
      <ion-col col-6>
        <button no-margin ion-button full large col-12 class="cancel-btn" (click)="backPage()">{{ '%btn.back%' | translate }}</button>
      </ion-col>
      <ion-col col-6>
        <button no-margin ion-button full large col-12 [disabled]="!form.valid" (click)="ConfirmSaveData()">{{ '%btn.survey.save%' | translate }}</button>
      </ion-col>
    </ion-row>
  </ion-item>
</ion-footer>
