<!--
  Generated template for the MoldinoutCreatePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <ion-title>Mold In/Out Preview</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <form [formGroup]="form">
    <ion-list>
      <ion-item>
        <ion-label fixed>Mold ID</ion-label>
        <ion-input formControlName="MoldId" type="text"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label fixed>MoldMakerID</ion-label>
        <ion-input formControlName="MoldMaker" type="text"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label fixed>AssetID</ion-label>
        <ion-textarea formControlName="AssetId" placeholder="AssetID" rows="5" autosize></ion-textarea>
      </ion-item>
      <ion-item>
        <ion-label fixed>CustNo</ion-label>
        <ion-textarea formControlName="CustNo" placeholder="CustNo" rows="5" autosize></ion-textarea>
      </ion-item>
      <ion-item>
        <ion-label fixed>PartNo</ion-label>
        <ion-textarea formControlName="PartNo" placeholder="PartNo" rows="5" autosize></ion-textarea>
      </ion-item>
      <ion-item>
        <ion-label fixed>PartName</ion-label>
        <ion-textarea formControlName="PartName" placeholder="PartName" rows="5" autosize></ion-textarea>
      </ion-item>
      <ion-item>
        <ion-label>MoldMaker</ion-label>
        <ion-select interface="action-sheet" formControlName="MakerId">
          <ion-option value="">กรุณาเลือก MoldMaker</ion-option>
          <ion-option *ngFor="let items of moldinoutModel?.getSetting?.makerId" [value]="items?.id">{{ items?.description }}</ion-option>
        </ion-select>
      </ion-item>
      <ion-item>
        <ion-label>Plan Out</ion-label>
        <ion-datetime pickerFormat="DD/MM/YYYY HH:mm" displayFormat="DD/MM/YYYY HH:mm" formControlName="PlanOut"></ion-datetime>
      </ion-item>
      <ion-item>
        <ion-label>Plan In</ion-label>
        <ion-datetime pickerFormat="DD/MM/YYYY HH:mm" displayFormat="DD/MM/YYYY HH:mm" formControlName="PlanIn"></ion-datetime>
      </ion-item>
      <ion-item>
        <ion-label>Reason</ion-label>
        <ion-select interface="action-sheet" formControlName="ReasonId">
          <ion-option value="">กรุณาเลือก MoldMaker</ion-option>
          <ion-option *ngFor="let items of moldinoutModel?.getSetting?.reason" [value]="items?.id">{{ items?.description }}</ion-option>
        </ion-select>
      </ion-item>
      <ion-item>
        <ion-label fixed>Remark</ion-label>
        <ion-textarea formControlName="Remark" placeholder="Remark" rows="5" autosize></ion-textarea>
      </ion-item>
    </ion-list>
  </form>

  <ion-segment [(ngModel)]="Mode">
    <ion-segment-button value="Out">
      <h6>OUT</h6>
    </ion-segment-button>
    <ion-segment-button value="In" [disabled]="true">
      <h6>IN</h6>
    </ion-segment-button>
  </ion-segment>
  <div [ngSwitch]="Mode">
    <ion-list *ngSwitchCase="'Out'">
      <accordion-list
        [title]="'%label.images%' | translate"
        textColor="#FFF"
        hasMargin="false"
        headerColor="#A9ADAA"
        [expanded]="true">
        <ion-grid>
          <ion-row>
            <ion-col col-6 *ngFor="let photo of moldinoutModel?.Images; let id = index">
              <ion-card class="card-background-page">
                <img style="height: 150px" [src]="photo?.photo" (tap)="tapViewPhoto(photo?.photo)" alt="" />
                <ion-card-content>
                  <p class="gps">{{ photo?.latitude }}, {{ photo?.longitude }}</p>
                </ion-card-content>
              </ion-card>
            </ion-col>
          </ion-row>
        </ion-grid> 
      </accordion-list>
      
    </ion-list>

    <ion-list *ngSwitchCase="'In'">
      
    </ion-list>
  </div>
</ion-content>

<ion-footer>
  <ion-item no-padding class="btn-setting-fav">
    <ion-row class="two-col-button">
      <ion-col col-6>
        <button no-margin ion-button full large col-12 class="cancel-btn" (click)="backToPage()">{{ '%btn.survey.back%' | translate }}</button>
      </ion-col>
      <ion-col col-6>
        <button no-margin ion-button full large col-12 (click)="ConfirmSaveData()">{{ '%btn.survey.save%' | translate }}</button>
      </ion-col>
    </ion-row>
  </ion-item>
</ion-footer>
