<!--
  Generated template for the MoldinoutStatusPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <ion-title>Status</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-list>
    <form [formGroup]="form">
      <ion-item>
        <ion-label>Status</ion-label>
        <ion-select interface="action-sheet" formControlName="Status">
          <ion-option *ngFor="let items of dataStatus" [value]="items.id" (ionSelect)="onSelectStatus()">{{ items.description }}</ion-option>
        </ion-select>
      </ion-item>
    </form>
  </ion-list>

  <ion-list>
    <ion-item *ngFor="let items of dataResult" (click)="viewHistory(items)">
      <h3>MoldID: {{ items?.moldId }}</h3>
      <p>Plan Out: {{ items?.planOut }}</p>
      <p>Plan In: {{ items?.planIn }}</p>
      <p>Mold Maker: {{ items?.makerName }}</p>
      <p>Reson: {{ items?.reson }}</p>
      <p>Creator: {{ items?.name }}</p>
      <p *ngIf="items?.status != ''" style="color: red">{{ items?.status }}</p>
      <ion-icon name="arrow-forward" item-end></ion-icon>
    </ion-item>
  </ion-list>
</ion-content>