<!--
  Generated template for the AdminConfigPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <ion-title>admin-config</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <form [formGroup]="form">
    <ion-list>
      <ion-item>
        <ion-label>จำนวน MoldSurvey</ion-label>
        <ion-input formControlName="Survey" type="tel"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label>จำนวน MoldInOut</ion-label>
        <ion-input formControlName="InOut" type="tel"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label>จำนวน MoldMaker</ion-label>
        <ion-input formControlName="MoldMaker" type="tel"></ion-input>
      </ion-item>
    </ion-list>
    <ion-item>
      <ion-label>ISO PDF</ion-label>
      <ion-input formControlName="ISO" type="text"></ion-input>
    </ion-item>
  </form>
</ion-content>
<ion-footer>
    <ion-item no-padding class="btn-setting-fav">
    <ion-row class="two-col-button">
      <ion-col col-6>
        <button no-margin ion-button full large col-12 class="cancel-btn" (click)="reset()">Reset</button>
      </ion-col>
      <ion-col col-6>
        <button no-margin ion-button full large col-12 [disabled]="!form.valid" (click)="edit()">Save</button>
      </ion-col>
    </ion-row>
  </ion-item>
</ion-footer>
