<ion-menu id="authenticateduser" [content]="mycontent">
  <ion-header>
    <ion-toolbar class="user-profile">
      <ion-grid>
        <ion-row>
          <ion-col col-4>
            <div class="user-avatar">
              <img src="../../assets/imgs/defaul-avatar.jpg" alt="" />
            </div>
          </ion-col>
          <ion-col padding-top col-8>
            <h6 ion-text class="no-margin bold text-white">
              {{ USER_NAME }}
            </h6>
            <span ion-text>{{ USER_TYPE }}</span>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <accordion-menu *ngFor="let item of itemMenu; let index = index"
      [title]="item.name"
      textColor="#FFF"
      hasMargin="false"
      headerColor="#A9ADAA"
      [expanded]="true">
      <ion-list>
        <button ion-item menuClose *ngFor="let menu of item.sub" (click)="openPage(menu.component)">
          <ion-icon item-left [name]="menu.icon"></ion-icon>
          <span ion-text color="green">{{ menu.title }}</span>
        </button>
      </ion-list>
    </accordion-menu>
  </ion-content>
  <ion-footer>
    <ion-toolbar>
      <ion-row>
        <p>{{ '%language.change%' | translate }}: </p><pre (click)="setLang()">{{ '%language%' | translate }}</pre>
      </ion-row>
      <ion-buttons end>
        <button ion-button icon-end menuClose round color="danger" (click)="onLogout()">
          {{ '%btn.logout%' | translate }}
        </button>
      </ion-buttons>
    </ion-toolbar>
  </ion-footer>
</ion-menu>

<ion-menu id="authenticatedadmin" [content]="mycontent">
  <ion-header>
    <ion-toolbar class="user-profile">
      <ion-grid>
        <ion-row>
          <ion-col col-4>
            <div class="user-avatar">
              <img src="../../assets/imgs/defaul-avatar.jpg" alt="" />
            </div>
          </ion-col>
          <ion-col padding-top col-8>
            <h6 ion-text class="no-margin bold text-white">
              {{ USER_NAME }}
            </h6>
            <span ion-text>{{ USER_TYPE }}</span>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-toolbar>
  </ion-header>
  <ion-content></ion-content>
  <ion-footer>
    <ion-toolbar>
      <ion-row>
        <p>{{ '%language.change%' | translate }}: </p><pre (click)="setLang()">{{ '%language%' | translate }}</pre>
      </ion-row>
      <ion-buttons end>
        <button ion-button icon-end menuClose round color="danger" (click)="onLogout()">
          {{ '%btn.logout%' | translate }}
        </button>
      </ion-buttons>
    </ion-toolbar>
  </ion-footer>
</ion-menu>

<ion-menu id="authenticatedmaker" [content]="mycontent">
  <ion-header>
    <ion-toolbar class="user-profile">
      <ion-grid>
        <ion-row>
          <ion-col col-4>
            <div class="user-avatar">
              <img src="../../assets/imgs/defaul-avatar.jpg" alt="" />
            </div>
          </ion-col>
          <ion-col padding-top col-8>
            <h6 ion-text class="no-margin bold text-white">
              {{ USER_NAME }}
            </h6>
            <span ion-text>{{ USER_TYPE }}</span>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-toolbar>
  </ion-header>
  <ion-content></ion-content>
  <ion-footer>
    <ion-toolbar>
      <ion-row>
        <p>{{ '%language.change%' | translate }}: </p><pre (click)="setLang()">{{ '%language%' | translate }}</pre>
      </ion-row>
      <ion-buttons end>
        <button ion-button icon-end menuClose round color="danger" (click)="onLogout()">
          {{ '%btn.logout%' | translate }}
        </button>
      </ion-buttons>
    </ion-toolbar>
  </ion-footer>
</ion-menu>

<ion-nav #mycontent [root]="rootPage"></ion-nav>