<!--
  Generated template for the BkfMainPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Mold Main Menu</ion-title>
    <ion-buttons end class="cart-btn">
      <button ion-button (click)="onNotification()">
        <ion-icon name="notifications"></ion-icon>
        <ion-badge class="cart-badge" *ngIf="countMessage > 0" >{{ countMessage }}</ion-badge>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content>
  <h4 style="font-size: 1.2em; text-align: center;">Welcome, {{ fullName }}</h4>
  <div style="position: relative;">
    <div class="content-menu">
      <h4 style="font-size: 1.2em"> <br>
       
      </h4>
    </div>
    <ion-grid style="position: absolute; top: 75%; margin: 0px;">
      <ion-row>
        <ion-col col-6 col-xl-4 col-lg-4 col-md-4>
          <ion-card text-center padding style="border:solid 1px #3d974c; border-radius: 10px 10px 10px 10px;" [navPush]="'SurveyMenuPage'">
            <img src="../../assets/imgs/survey.png" alt="" />
            <h2 style="padding: 10px 0px 0px 0px; font-size: 0.8rem; font-weight: bold;">Fixed Asset Survey</h2>
          </ion-card>
        </ion-col>
        <ion-col col-6 col-xl-4 col-lg-4 col-md-4>
          <ion-card text-center padding style="border:solid 1px #3d974c; border-radius: 10px 10px 10px 10px;" [navPush]="'MoldinoutMenuPage'">
            <img src="../../assets/imgs/repare.png" alt="" />
            <h2 style="padding: 10px 0px 0px 0px; font-size: 1rem; font-weight: bold;">Mold In/Out</h2>
          </ion-card>
        </ion-col>
        <ion-col col-6 col-xl-4 col-lg-4 col-md-4>
          <ion-card text-center padding style="border:solid 1px #3d974c; border-radius: 10px 10px 10px 10px;" (tap)="onLogout()">
            <img src="../../assets/imgs/open.png" alt="" />
            <h2 style="padding: 10px 0px 0px 0px; font-size: 1rem; font-weight: bold;">Log Out</h2>
          </ion-card>
        </ion-col>
      </ion-row>
    </ion-grid>

    <div class="version">
      <pre>Version {{ platformVersion }}</pre>
    </div>
  </div>
 
</ion-content>
