<!--
  Generated template for the MoldinoutMenuPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <ion-title>Mold In/Out Menu</ion-title>
    <ion-buttons end  class="cart-btn">
      <button ion-button (click)="onNotification()">
        <ion-icon name="notifications"></ion-icon>
        <ion-badge class="cart-badge" *ngIf="countMessage > 0" >{{ countMessage }}</ion-badge>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content>
  <h4 style="font-size: 1.2em; text-align: center;">Welcome, {{ fullName }}</h4>
  <div style="position: relative;">
    <div class="content-menu">
      <h4></h4>
    </div>
  </div>
  <div padding>
    <button ion-button full (click)="scanQr()">Request Mold Out</button>
    <button ion-button full [navPush]="'MoldinoutWaitingForApprovePage'" *ngIf="countApprove > 0">Waiting For Approve</button>
    <button ion-button full [navPush]="'MoldinoutSearchPage'">Search</button>
    <button ion-button full [navPush]="'MoldinoutStatusPage'">Status</button>
    <button ion-button full (click)="onLogout()">Logout</button>
  </div>
  <div class="version">
    <pre>Version {{ platformVersion }}</pre>
  </div>
</ion-content>
