<!--
  Generated template for the AdminUserBkfPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <ion-title>admin-user-bkf</ion-title>
    <ion-buttons end class="cart-btn">
      <button ion-button [navPush]="'AdminCreateUserPage'">
        <ion-icon name="create"></ion-icon>
        <ion-badge class="cart-badge"></ion-badge>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item *ngFor="let items of adminModel?.getListBKF?.getListBKF" (click)="viewHistory(items)">
      <h3>ชื่อ - นามสกลุ: {{ items?.firstName }}  {{ items?.lastName }}</h3>
      <p>ตำแหน่ง: {{ items?.userType }}</p>
      <ion-icon name="arrow-forward" item-end></ion-icon>
    </ion-item>
  </ion-list>
</ion-content>
