<!--
  Generated template for the MoldinoutHistoryPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <ion-title>Mold In/Out</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <form [formGroup]="form">
    <ion-list>
      <ion-item>
        <ion-label fixed>Mold ID</ion-label>
        <ion-input formControlName="MoldId" type="text"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label fixed>MoldMakerID</ion-label>
        <ion-input formControlName="MoldMaker" type="text"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label fixed>AssetID</ion-label>
        <ion-textarea formControlName="AssetId" placeholder="AssetID" rows="5" autosize></ion-textarea>
      </ion-item>
      <ion-item>
        <ion-label fixed>CustNo</ion-label>
        <ion-textarea formControlName="CustNo" placeholder="CustNo" rows="5" autosize></ion-textarea>
      </ion-item>
      <ion-item>
        <ion-label fixed>PartNo</ion-label>
        <ion-textarea formControlName="PartNo" placeholder="PartNo" rows="5" autosize></ion-textarea>
      </ion-item>
      <ion-item>
        <ion-label fixed>PartName</ion-label>
        <ion-textarea formControlName="PartName" placeholder="PartName" rows="5" autosize></ion-textarea>
      </ion-item>
      <ion-item>
        <ion-label>MoldMaker</ion-label>
        <ion-select interface="action-sheet" formControlName="MakerId">
          <ion-option value="">กรุณาเลือก MoldMaker</ion-option>
          <ion-option *ngFor="let items of moldinoutModel?.getSetting?.makerId" [value]="items?.id">{{ items?.description }}</ion-option>
        </ion-select>
      </ion-item>
      <ion-item>
        <ion-label>Plan Out</ion-label>
        <ion-datetime pickerFormat="DD/MM/YYYY HH:mm" displayFormat="DD/MM/YYYY HH:mm" formControlName="PlanOut"></ion-datetime>
      </ion-item>
      <ion-item>
        <ion-label>Plan In</ion-label>
        <ion-datetime pickerFormat="DD/MM/YYYY HH:mm" displayFormat="DD/MM/YYYY HH:mm" formControlName="PlanIn"></ion-datetime>
      </ion-item>
      <ion-item>
        <ion-label>Reason</ion-label>
        <ion-select interface="action-sheet" formControlName="ReasonId">
          <ion-option value="">กรุณาเลือก MoldMaker</ion-option>
          <ion-option *ngFor="let items of moldinoutModel?.getSetting?.reason" [value]="items?.id">{{ items?.description }}</ion-option>
        </ion-select>
      </ion-item>
      <ion-item>
        <ion-label fixed>Remark</ion-label>
        <ion-textarea formControlName="Remark" placeholder="Remark" rows="5" autosize></ion-textarea>
      </ion-item>
    </ion-list>
  </form>

  <ion-segment [(ngModel)]="Mode">
    <ion-segment-button value="Out">
      <h6>OUT</h6>
    </ion-segment-button>
    <ion-segment-button value="In" [disabled]="(moldinoutModel?.getNewMoldInOut?.inoutMold[0]?.makerStatus == 'Completed') ? false : true">
      <h6>IN</h6>
    </ion-segment-button>
  </ion-segment>
  <div [ngSwitch]="Mode">
    <ion-list *ngSwitchCase="'Out'">
      <div padding>
        <button ion-button full color="primary" (click)="viewPdf()"
          *ngIf="moldinoutModel?.getNewMoldInOut?.inoutMold[0]?.print == 'A' && moldinoutModel?.getNewMoldInOut?.inoutMold[0]?.status != 'Completed' && moldinoutModel?.getNewMoldInOut?.inoutMold[0]?.makerStatus == ''">
          Reprint
        </button >
        <button ion-button full color="secondary" (click)="viewHistory()" *ngIf="moldinoutModel?.getNewMoldInOut?.inoutMold[0]?.status != 'Completed' && moldinoutModel?.getNewMoldInOut?.inoutMold[0]?.makerStatus != ''">
          View MoldMaker Update
        </button>
      </div>
      <div *ngIf="moldinoutModel?.getNewMoldInOut?.imagesOut?.length > 0">
        <accordion-list
          [title]="'Picture Mold Out'"
          textColor="#FFF"
          hasMargin="false"
          headerColor="#f4f4f4"
          [expanded]="true">
          <ion-grid>
            <ion-row>
              <ion-col col-6 *ngFor="let photo of moldinoutModel?.getNewMoldInOut?.imagesOut; let id = index">
                <ion-card class="card-background-page">
                  <img style="height: 150px" src="{{IP}}/inout/showImage?filename={{photo.PhotoName}}" (tap)="tapViewPhoto(photo?.PhotoName)" alt="" />
                  <ion-card-content>
                    <p class="gps" (tap)="openLaunchNavigator(photo?.Latiture ,photo?.Longiture)">{{ photo?.Latiture }}, {{ photo?.Longiture }}</p>
                  </ion-card-content>
                </ion-card>
              </ion-col>
            </ion-row>
          </ion-grid> 
        </accordion-list>
      </div>

      <div *ngIf="moldinoutModel?.getNewMoldInOut?.imagesTransport?.length > 0">
        <accordion-list
          [title]="'Picture Confirm Out'"
          textColor="#FFF"
          hasMargin="false"
          headerColor="#f4f4f4"
          [expanded]="true">
          <ion-grid style="padding:0px; margin:0px;">
            <ion-row>
              <ion-col col-6 *ngFor="let photo of moldinoutModel?.getNewMoldInOut?.imagesTransport; let i = index">
                <pre style="text-align: center;" *ngIf="i == 0">รูปทะเบียนรถ</pre>
                <pre style="text-align: center;" *ngIf="i == 1">รูปใบขับขี่</pre>
                <pre style="text-align: center;" *ngIf="i == 2">รูปหลังรถ</pre>
                <pre style="text-align: center;" *ngIf="i == 3"> อื่นๆ</pre>
                <ion-card class="card-background-page">
                  <img style="height: 150px" src="{{IP}}/inout/showImage?filename={{photo.PhotoName}}" (tap)="tapViewPhoto(photo?.PhotoName)" alt="" />
                  <ion-card-content>
                    <p class="gps" (tap)="openLaunchNavigator(photo?.Latiture ,photo?.Longiture)">{{ photo?.Latiture }}, {{ photo?.Longiture }}</p>
                  </ion-card-content>
                </ion-card>
              </ion-col>
            </ion-row>
          </ion-grid>
        </accordion-list>
      </div>

      <div *ngIf="moldinoutModel?.getNewMoldInOut?.inoutMold[0]?.nameConfirmout !=''" padding style="padding-top: 0px; padding-bottom: 5px;">
        <pre style="text-align: left; font-family: sans-serif;">Confirm Out : {{ moldinoutModel?.getNewMoldInOut?.inoutMold[0]?.nameConfirmout }}</pre>
        <pre style="text-align: left; font-family: sans-serif;">DateTime Out : {{ moldinoutModel?.getNewMoldInOut?.inoutMold[0]?.confirmDate | datetime: 'dateAndTime' }}</pre>
        <pre style="text-align: left; font-family: sans-serif;">Remark Out : {{ moldinoutModel?.getNewMoldInOut?.inoutMold[0]?.remarkOut }}</pre>
      </div>

      <mold-in-out-approve [taggedApprove]="moldinoutModel?.getApprove?.approveOut"></mold-in-out-approve>
      <div *ngIf="approveOut">
        <ion-item no-padding class="btn-setting-fav">
          <ion-row class="two-col-button">
            <ion-col col-6>
              <button no-margin ion-button full large col-12 class="cancel-btn" (click)="rejectTypeOut()">Reject</button>
            </ion-col>
            <ion-col col-6>
              <button no-margin ion-button full large col-12 (click)="approveTypeOut()">Approve</button>
            </ion-col>
          </ion-row>
        </ion-item>
      </div>

      <div *ngIf="confirmOut">
        <ion-item no-padding class="btn-setting-fav">
          <ion-row class="two-col-button">
            <ion-col col-6>
              <button no-margin ion-button full large col-12 class="cancel-btn" (click)="rejectConfirmOut()">Reject</button>
            </ion-col>
            <ion-col col-6>
              <button no-margin ion-button full large col-12 (click)="ConfirmOut()">ConfirmOut</button>
            </ion-col>
          </ion-row>
        </ion-item>
      </div>
      
    </ion-list>

    <ion-list *ngSwitchCase="'In'">
      <div padding>
        <button ion-button full color="secondary" (click)="viewHistory()">View MoldMaker Update</button>
      </div>

      <ion-row>
        <ion-col col-6>
          <ion-col col-12>
            <ion-grid *ngIf="moldinoutModel?.getNewMoldInOut?.imagesOut?.length > 0">
              <ion-row>
                <ion-col col-12 *ngFor="let photo of moldinoutModel?.getNewMoldInOut?.imagesOut; let id = index">
                  <ion-card class="card-background-page">
                    <img style="height: 150px" src="{{IP}}/inout/showImage?filename={{photo.PhotoName}}" (tap)="tapViewPhoto(photo?.PhotoName)" alt=""/>
                    <ion-card-content>
                      <p class="gps" (click)="openLaunchNavigator(photo?.Latiture, photo?.Longiture)">{{ photo?.Latiture }}, {{ photo?.Longiture }}</p>
                    </ion-card-content>
                  </ion-card>
                </ion-col>
              </ion-row>
            </ion-grid>
          </ion-col>
        </ion-col>
        
        <ion-col col-6> 
          <ion-col col-12 *ngIf="moldinoutModel?.getNewMoldInOut?.imagesIn?.length > 0">
            <ion-grid *ngIf="(moldinoutModel?.getNewMoldInOut?.imagesIn?.length > 0 && moldinoutModel?.getNewMoldInOut?.imagesOut?.length > 0)">
              <ion-row>
                <ion-col col-12 *ngFor="let photo of moldinoutModel?.getNewMoldInOut?.imagesIn; let id = index">
                  <ion-card class="card-background-page">
                    <img style="height: 150px" src="{{IP}}/inout/showImage?filename={{photo.PhotoName}}" (tap)="tapViewPhoto(photo?.PhotoName)" alt=""/>
                    <ion-card-content>
                      <p class="gps" (click)="openLaunchNavigator(photo?.Latiture, photo?.Longiture)">{{ photo?.Latiture }}, {{ photo?.Longiture }}</p>
                    </ion-card-content>
                  </ion-card>
                </ion-col>
              </ion-row>
            </ion-grid>
          </ion-col>
  
          <ion-col col-6 *ngIf="moldinoutModel?.getNewMoldInOut?.imagesIn?.length <= 0">
            <ion-col col-12>
              <ion-grid>
                <ion-row>
                  <ion-col col-12 *ngFor="let photo of moldinoutModel?.Images; let id = index">
                    <ion-card class="card-background-page">
                      <ion-icon name="trash" class="deleteIcon" (click)="deletePhoto(id)"></ion-icon>
                      <img style="height: 150px" [src]="photo?.photo" (tap)="tapViewPhoto(photo?.photo)" alt="" />
                      <ion-card-content>
                        <p class="gps" (click)="openLaunchNavigator(photo?.latitude, photo?.longitude)">{{ photo?.latitude }}, {{ photo?.longitude }}</p>
                      </ion-card-content>
                    </ion-card>
                  </ion-col>
                </ion-row>
              </ion-grid>
            </ion-col>
  
            <ion-col col-6 *ngIf="moldinoutModel?.getNewMoldInOut?.imagesIn?.length <= 0 && moldinoutModel?.Images?.length < limit">
              <ion-col col-12 *ngIf="moldinoutModel?.Images?.length < limit">
                <ion-card class="card-background-page">
                  <ion-icon name="add" class="addIcon" (click)="presentActionSheet()"></ion-icon>
                  <img style="height: 150px" src="../../assets/imgs/images.png" alt=""/>
                </ion-card>
              </ion-col> 
            </ion-col>
          </ion-col>
        </ion-col>
      </ion-row>

      <div padding style="padding-top: 0px; padding-bottom: 5px;" *ngIf="moldinoutModel?.getNewMoldInOut?.inoutMold[0]?.remarkIn != ''">
        <pre style="text-align: left; font-family: sans-serif;">Remark In : {{ moldinoutModel?.getNewMoldInOut?.inoutMold[0]?.remarkIn }}</pre>
      </div>

      <mold-in-out-approve [taggedApprove]="moldinoutModel?.getApprove?.approveIn" *ngIf="(approveIn) && (moldinoutModel?.getNewMoldInOut?.inoutMold[0]?.status != 'ConfirmOut')"></mold-in-out-approve>
      <div *ngIf="(approveIn) && (moldinoutModel?.getNewMoldInOut?.inoutMold[0]?.status == 'ConfirmIn')">
        <ion-item no-padding class="btn-setting-fav">
          <ion-row class="two-col-button">
            <ion-col col-6>
              <button no-margin ion-button full large col-12 class="cancel-btn" (click)="rejectTypeIn()">Reject</button>
            </ion-col>
            <ion-col col-6>
              <button no-margin ion-button full large col-12 (click)="approveTypeIn()">Approve</button>
            </ion-col>
          </ion-row>
        </ion-item>
      </div>
      <div padding *ngIf="(moldinoutModel?.getNewMoldInOut?.inoutMold[0]?.makerStatus == 'Completed') && (moldinoutModel?.getNewMoldInOut?.inoutMold[0]?.status == 'ConfirmOut')">
        <button ion-button full color="primary" (click)="ConfirmIn()">
          Confirm In
        </button>
      </div>
    </ion-list>
  </div>

</ion-content>