page-moldinout-history {
    .test-modal {
        .modal-wrapper {
            width: 600px;
            left: calc(50% - (600px/2));
            height: 500px;
            top: calc(50% - (500px/2));
        }
     }
}
