<!--
  Generated template for the MoldmakerHistoryDetailPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <ion-title>moldmaker-history-detail</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
    <ion-grid>
      <ion-row>
        <ion-col col-4>
          <h3>Stauts</h3>
        </ion-col>
        <ion-col col-8>
          <p>{{ moldmakerModel?.getHistoryDetail?.historyDetail[0]?.status }}</p>
        </ion-col>
        <ion-col col-4>
          <h3>Remark</h3>
        </ion-col>
        <ion-col col-8>
          <p>{{ moldmakerModel?.getHistoryDetail?.historyDetail[0]?.status }}</p>
        </ion-col>
      </ion-row>
    </ion-grid>
    <ion-grid *ngIf="(moldmakerModel?.getHistoryDetail?.historyImage?.length > 0)">
      <ion-row>
        <ion-col col-6 *ngFor="let photo of moldmakerModel?.getHistoryDetail?.historyImage; let id = index">
          <ion-card class="card-background-page">
            <img style="height: 150px" [src]="photo?.photo" (tap)="viewImages(photo?.photo)" alt=""/>
            <ion-card-content>
              <p class="gps">{{ photo.latitude }}, {{ photo.longitude }}</p>
            </ion-card-content>
          </ion-card>
        </ion-col>
      </ion-row>
    </ion-grid>

</ion-content>
