<!--
  Generated template for the MoldmakerReceivePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <ion-title>moldmaker-receive</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col col-4>
        <h3>Detail</h3>
      </ion-col>
      <ion-col col-8>
        <p>Mold ID :  {{ moldmakerModel?.getMoldBKF?.bkfview[0]?.moldId }} </p>
        <p>Actual Out :  {{ moldmakerModel?.getMoldBKF?.bkfview[0]?.confirmDate }} </p>
        <p>Plan In :  {{ moldmakerModel?.getMoldBKF?.bkfview[0]?.planIn }} </p>
      </ion-col>
      <ion-col col-4>
        <h3>Reason :</h3>
      </ion-col>
      <ion-col col-8>
        <p> {{ moldmakerModel?.getMoldBKF?.bkfview[0]?.reason }} </p>
      </ion-col>
      <ion-col col-4>
        <h3>Remark :</h3>
      </ion-col>
      <ion-col col-8 >
        <p> {{ moldmakerModel?.getMoldBKF?.bkfview[0]?.remark }} </p>
      </ion-col>
    </ion-row>
  </ion-grid>

  <div padding *ngIf="moldmakerModel?.getMoldBKF?.bkfview[0]?.photo?.length > 0">
    <accordion-list 
      [title]="'%label.images%' | translate"
      textColor="#FFF"
      hasMargin="false"
      headerColor="#f4f4f4"
      [expanded]="true">
      <ion-grid>
        <ion-row>
          <ion-col col-6 *ngFor="let items of moldmakerModel?.getMoldBKF?.bkfview[0]?.photo; let id = index">
            <ion-card class="block">
              <img style="height: 200px;" [src]="items?.photo" alt="" (tap)="viewImages(items?.photo)" />
            </ion-card>
          </ion-col>
        </ion-row>
      </ion-grid>
    </accordion-list>
  </div>
</ion-content>

<ion-footer>
  <ion-item no-padding class="btn-setting-fav">
    <ion-row class="two-col-button">
      <ion-col col-6>
        <button no-margin ion-button full large col-12 class="cancel-btn" (click)="backToPage()">{{ '%btn.survey.back%' | translate }}</button>
      </ion-col>
      <ion-col col-6>
        <button no-margin ion-button full large col-12 (click)="onReceive()">Receive</button>
      </ion-col>
    </ion-row>
  </ion-item>
</ion-footer>
