<ion-header no-border>
    <ion-navbar transparent>
    </ion-navbar>
  </ion-header>

<ion-content>
  <div class="login-container">
    <img class="logo" src="../../assets/imgs/Logo_BKF.jpg" alt="" />
  </div>

  <div padding>
    <div class="text-message">{{ '%message.active.mobile%' | translate }}</div>
    <div class="text-imei ">{{ IMEI }}</div>

    <button ion-button full (click)="ActiveMobile()">Active</button>
  </div>
</ion-content>
