page-active-mobile {
    .text-message {
        font-family: sans-serif;
        text-align: center;
        color: blue;
        padding: 5px;
    }
    .text-imei {
        text-align: center;
        border: 1px solid #ff0000;
        padding: 10px;
        font-family: sans-serif;
    }
}
