<!--
  Generated template for the MakerMenuPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Maker Main Menu</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
    <p style="text-align: center; vertical-align: middle; font-family: sans-serif"><b>Mold Maker Name: {{ fullName }}</b></p>
  
    <ion-refresher (ionRefresh)="doRefresh($event)">
      <ion-refresher-content></ion-refresher-content>
    </ion-refresher>
    
    <div>
      <ion-row>
        <ion-col col-4 style="text-align:center; border:1px solid; color: #f39033; background-color: #f39033;vertical-align: middle; height: 30px;">
          <a style="font-family: sans-serif;font-size: 0.8em;color: #ffffff">Waiting Receive</a>
        </ion-col>
        <ion-col col-4 style="text-align:center; border:1px solid; color: #e8eb50; background-color: #e8eb50;vertical-align: middle; height: 30px;">
          <a style="font-family: sans-serif; font-size: 0.8em;color: #ffffff">Inprogress</a>
        </ion-col>
        <ion-col col-4 style="text-align:center; border:1px solid; color: #68bb81; background-color: #68bb81;vertical-align: middle; height: 30px;">
          <a style="font-family: sans-serif; font-size: 0.8em; color: #ffffff">Completed</a>
        </ion-col>
      </ion-row>
    </div>
    
    <ion-list >
      <div *ngFor="let items of moldMakerModel?.getListMode?.getListMold">
        <ion-item *ngIf="items?.status == ''" color="receive">
          <h3 style="font-family: sans-serif">Maker MoldID: {{ items?.makerid }}</h3>
          <h3 style="font-family: sans-serif">MoldID: {{ items?.moldid }}</h3>
          <h3 style="font-family: sans-serif">Cust Part: {{ items?.custno }}</h3>
          <h3 style="font-family: sans-serif">BKF Part: {{ items?.partno }}</h3>
          <h3 style="font-family: sans-serif">Actual Out: {{ items?.actual }}</h3>
          <h3 style="font-family: sans-serif">Plan In: {{ items?.planin }}</h3>
          <button ion-button clear item-end (click)="viewHistory(items?.jobid)" *ngIf="(items?.status != 'Receive') && (items?.status != '')">View</button>
          <button ion-button clear item-end (click)="ReceiveMold(items?.jobid, items?.moldid)" *ngIf="(items?.status == '')">Scan Qr</button>
        </ion-item>
        <ion-item *ngIf="items.status == 'Inprogress' || items.status == 'New'" color="yellow">
          <h3 style="font-family: sans-serif">Maker MoldID: {{ items?.makerid }}</h3>
          <h3 style="font-family: sans-serif">MoldID: {{ items?.moldid }}</h3>
          <h3 style="font-family: sans-serif">Cust Part: {{ items?.custno }}</h3>
          <h3 style="font-family: sans-serif">BKF Part: {{ items?.partno }}</h3>
          <h3 style="font-family: sans-serif">Actual Out: {{ items?.actual }}</h3>
          <h3 style="font-family: sans-serif">Plan In: {{ items?.planin }}</h3>
          <button ion-button clear item-end (click)="viewHistory(items?.jobid)" *ngIf="(items?.status != 'Receive') && (items?.status != '')">View</button>
          <button ion-button clear item-end (click)="ReceiveMold(items?.jobid, items?.moldid)" *ngIf="(items?.status == '')">Scan Qr</button>
        </ion-item>
        <ion-item *ngIf="items.status == 'Completed'" color="completed">
          <h3 style="font-family: sans-serif">Maker MoldID: {{ items?.makerid }}</h3>
          <h3 style="font-family: sans-serif">MoldID: {{ items?.moldid }}</h3>
          <h3 style="font-family: sans-serif">Cust Part: {{ items?.custno }}</h3>
          <h3 style="font-family: sans-serif">BKF Part: {{ items?.partno }}</h3>
          <h3 style="font-family: sans-serif">Actual Out: {{ items?.actual }}</h3>
          <h3 style="font-family: sans-serif">Plan In: {{ items?.planin }}</h3>
          <button ion-button clear item-end (click)="viewHistory(items?.jobid)" *ngIf="(items?.status != 'Receive') && (items?.status != '')">View</button>
          <button ion-button clear item-end (click)="ReceiveMold(items?.jobid, items?.moldid)" *ngIf="(items?.status == '')">Scan Qr</button>
        </ion-item>
      </div>
    </ion-list>

</ion-content>
