<!--
  Generated template for the AdminUserMoldPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <ion-title>admin-user-mold</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item *ngFor="let items of adminModel?.getListMold?.getListMold" (click)="viewHistory(items)">
      <h3>ชื่อ - นามสกลุ: {{ items?.fullName }}</h3>
      <ion-icon name="arrow-forward" item-end></ion-icon>
    </ion-item>
  </ion-list>
</ion-content>
