<!--
  Generated template for the AdminEditUserPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <ion-title>admin-edit-user</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <form [formGroup]="form">
    <ion-list>
      <ion-item>
        <ion-label>รหัสพนักงาน</ion-label>
        <ion-input type="text" formControlName="EmpID"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label>ชื่อ</ion-label>
        <ion-input type="text" formControlName="FirstName"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label>นามสกุล</ion-label>
        <ion-input type="text" formControlName="LastName"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label>ตำแหน่ง</ion-label>
        <ion-select interface="action-sheet" formControlName="UserType">
          <ion-option value="">กรุณาเลือกตำแหน่ง</ion-option>
          <ion-option *ngFor="let items of position" [value]="items?.value">{{ items?.value }}</ion-option>
        </ion-select>
      </ion-item>
    </ion-list>

    <ion-list>
      <ion-item>
        <ion-label>ชื่อผุ้ใช้งาน</ion-label>
        <ion-input type="text" formControlName="Username"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label>รหัสผ่าน</ion-label>
        <ion-input type="text" formControlName="Password"></ion-input>
      </ion-item>
    </ion-list>
  </form>
  <div style="text-align: center">
    <button ion-button margin color="danger" (click)="deleteAccount()">ลบผู้ใช้งานนี้</button>
  </div>
</ion-content>

<ion-footer>
  <ion-item no-padding class="btn-setting-fav">
    <ion-row class="two-col-button">
      <ion-col col-6>
        <button no-margin ion-button full large col-12 class="cancel-btn" (click)="reset()">Reset</button>
      </ion-col>
      <ion-col col-6>
        <button no-margin ion-button full large col-12 [disabled]="!form.valid" (click)="editAccount()">Save</button>
      </ion-col>
    </ion-row>
  </ion-item>
</ion-footer>