<!--
  Generated template for the AdminUserListPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <ion-title>admin-user-list</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-list>
    <button ion-item [navPush]="'AdminUserBkfPage'">
      ผู้ใช้งาน BKF
    </button> 
    <button ion-item [navPush]="'AdminUserMoldPage'">
      ผู้ใช้งาน Mold Maker
    </button>  
  </ion-list>
</ion-content>
