<!--
  Generated template for the AdminMenuPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Admin Main Menu</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item [navPush]="'AdminUserListPage'">
      <h4>ตั้งค่าผู้ใช้งาน</h4>
      <button item-end></button>
    </ion-item>
    <ion-item [navPush]="'AdminConfigPage'">
      <h4>ตั้งค่าอัพโหลดรูปภาพ</h4>
      <button item-end></button>
    </ion-item>
    <ion-item>
      <h4>ตั้งค่าอื่นๆ</h4>
      <button item-end></button>
    </ion-item>
    <ion-item (tap)="onLogOut()">
      <h4>ออกจากระบบ</h4>
      <button item-end></button>
    </ion-item>
  </ion-list>
</ion-content>
