<!--
  Generated template for the SurveyCreatePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <ion-title>Survey</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-fab right bottom *ngIf="surveyModel?.surveyMoldHistory?.master?.length > 0 && Mode == 'Transaction'">
    <button ion-fab mini #fab><ion-icon name="arrow-dropup"></ion-icon></button>
    <ion-fab-list side="top">
      <button ion-fab (click)="getImageFromCamera()"><ion-icon name="camera"></ion-icon></button>
      <button ion-fab (click)="getImageFromAlbum()"><ion-icon name="albums"></ion-icon></button>
    </ion-fab-list>
  </ion-fab>
  <form [formGroup]="formMold">
    <ion-list>
      <ion-item>
        <ion-label>Location</ion-label>
        <ion-select interface="action-sheet" formControlName="Location">
          <ion-option value="">กรุณาเลือกตำแหน่ง</ion-option>
          <ion-option *ngFor="let items of dataLocation" [value]="items?.LocationID">{{ items?.LocationDescription }}</ion-option>
        </ion-select>
      </ion-item>
      <ion-item>
        <ion-label color="primary" floating>Mold ID</ion-label>
        <ion-input formControlName="MoldId" type="text" (ionBlur)="getMoldMaster()"></ion-input>
        <button ion-button icon-only clear item-end color="green" (click)="scanQr()">
          <ion-icon name="qr-scanner"></ion-icon>
        </button>
      </ion-item>
    </ion-list>
  </form>

  <div *ngIf="surveyModel?.surveyMoldHistory?.master?.length > 0" >
    <ion-segment [(ngModel)]="Mode">
      <ion-segment-button value="Transaction">
        <h6>MOLD</h6>
      </ion-segment-button>
      <ion-segment-button value="History">
        <h6>HISTORY</h6>
      </ion-segment-button>
    </ion-segment>

    <div [ngSwitch]="Mode">
      <ion-list *ngSwitchCase="'Transaction'">
        <form [formGroup]="formTransaction">
          <ion-item>
            <ion-label>Plate</ion-label>
            <ion-checkbox fromControlName="Plate" [checked]="formTransaction.controls['Plate'].value"
              value="formTransaction.controls['NoPlate'].value" (click)="onChangePlate()"></ion-checkbox>
          </ion-item>
          <ion-item>
            <ion-label>No Plate</ion-label>
            <ion-checkbox fromControlName="NoPlate" [checked]="formTransaction.controls['NoPlate'].value" 
              value="formTransaction.controls['Plate'].value" (click)="onChangeNoPlate()"></ion-checkbox>
          </ion-item>
          <ion-item>
            <ion-textarea formControlName="Remark" placeholder="Remark" rows="6" autosize></ion-textarea>
          </ion-item>
        </form>

        <div padding *ngIf="surveyModel?.Images?.length > 0">
          <accordion-list 
            [title]="'%label.images%' | translate"
            textColor="#FFF"
            hasMargin="false"
            headerColor="#f4f4f4"
            [expanded]="true">
            <ion-grid>
              <ion-row>
                <ion-col col-6 *ngFor="let photo of surveyModel?.Images; let id = index">
                  <ion-card class="block">
                    <ion-icon name="trash" class="deleteIcon" (click)="deletePhoto(id)"></ion-icon>
                    <img style="height: 180px;" [src]="photo" alt="" (tap)="viewImages(photo)" />
                  </ion-card>
                </ion-col>
              </ion-row>
            </ion-grid>
          </accordion-list>
        </div>
      </ion-list>
  
      <ion-list *ngSwitchCase="'History'">
        <ion-item *ngFor="let items of surveyModel?.surveyMoldHistory?.history" (click)="viewHistory(items)">
          <h3>MoldID: {{ items.MoldId }}</h3>
          <p>CustNo: {{ items.CustNo }}</p>
          <p>PartNo: {{ items.PartNo }}</p>
          <p>PartName: {{ items.PartName }}</p>
          <p>CreateDate: {{ items.CreateDate | datetime: 'dateAndTime' }}</p>
          <ion-icon name="arrow-forward" item-end></ion-icon>
        </ion-item>
      </ion-list>
    </div>

  </div>
</ion-content>

<ion-footer>
  <ion-item no-padding class="btn-setting-fav">
    <ion-row class="two-col-button">
      <ion-col col-6>
        <button no-margin ion-button full large col-12 class="cancel-btn" (click)="reset()">Reset</button>
      </ion-col>
      <ion-col col-6>
        <button no-margin ion-button full large col-12 [disabled]="!formTransaction.valid && !formMold.valid" (click)="preview()">Preview</button>
      </ion-col>
    </ion-row>
  </ion-item>
</ion-footer>
