<!--
  Generated template for the SurveyPreviewPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <ion-title>Priveiw</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <form [formGroup]="form">
    <ion-list>
      <ion-item>
        <ion-label>Location</ion-label>
        <ion-select interface="action-sheet" formControlName="Location">
          <ion-option *ngFor="let items of dataLocation" [value]="items?.LocationID">{{ items?.LocationDescription }}</ion-option>
        </ion-select>
      </ion-item>
      <ion-item>
        <ion-label fixed>Mold ID</ion-label>
        <ion-input formControlName="MoldId" type="text"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label fixed>AssetID</ion-label>
        <ion-textarea formControlName="AssetId" placeholder="AssetID" rows="1" autosize></ion-textarea>
      </ion-item>
      <ion-item>
        <ion-label fixed>CustNo</ion-label>
        <ion-textarea formControlName="CustNo" placeholder="CustNo" rows="1" autosize></ion-textarea>
      </ion-item>
      <ion-item>
        <ion-label fixed>PartNo</ion-label>
        <ion-textarea formControlName="PartNo" placeholder="PartNo" rows="1" autosize></ion-textarea>
      </ion-item>
      <ion-item>
        <ion-label fixed>PartName</ion-label>
        <ion-textarea formControlName="PartName" placeholder="PartName" rows="1" autosize></ion-textarea>
      </ion-item>
      <ion-item>
        <ion-label fixed>Plate</ion-label>
        <ion-input type="text"  formControlName="Plate"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label fixed>{{ '%label.remark%' | translate }}</ion-label>
        <ion-textarea formControlName="Remark" placeholder="Remark" rows="1" autosize></ion-textarea>
      </ion-item>
      <ion-item>
        <ion-label fixed>{{ '%label.creator%' | translate }}</ion-label>
        <ion-input formControlName="Creator" type="text"></ion-input>
      </ion-item>
    </ion-list>

    <div padding *ngIf="surveyModel?.Images?.length > 0">
      <accordion-list 
        [title]="'%label.images%' | translate"
        textColor="#FFF"
        hasMargin="false"
        headerColor="#f4f4f4"
        [expanded]="true">
        <ion-grid>
          <ion-row>
            <ion-col col-6 *ngFor="let photo of surveyModel?.Images; let id = index">
              <ion-card class="block">
                <img style="height: 200px;" [src]="photo" alt="" (tap)="viewImages(photo)" />
              </ion-card>
            </ion-col>
          </ion-row>
        </ion-grid>
      </accordion-list>
    </div>
  </form>
</ion-content>

<ion-footer>
  <ion-item no-padding class="btn-setting-fav">
    <ion-row class="two-col-button">
      <ion-col col-6>
        <button no-margin ion-button full large col-12 class="cancel-btn" (click)="backToPage()">{{ '%btn.survey.back%' | translate }}</button>
      </ion-col>
      <ion-col col-6>
        <button no-margin ion-button full large col-12 (click)="saveData()">{{ '%btn.survey.save%' | translate }}</button>
      </ion-col>
    </ion-row>
  </ion-item>
</ion-footer>