<!--
  Generated template for the NotificationPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <ion-title>Notification</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-list *ngFor="let items of TransactionsMessage;">
    <ion-item-divider>
      <ion-label>
        {{ items.messageDate | datetime : 'dateNow' }}
      </ion-label>
    </ion-item-divider>
    <div *ngFor="let itemSub of items.transaction">
      <ion-item (click)="readMessage(itemSub)">
        <ion-icon item-left><p>{{ itemSub.MessageTime | datetime: 'time'}}</p></ion-icon>
        <h5>{{ itemSub.messageSubject}}</h5>
        <p>{{ itemSub.messageDescription}}</p>
      </ion-item>
    </div>
  </ion-list>

</ion-content>
