// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/theming/

// Font path is used to include ionicons,
// roboto, and noto sans fonts
$font-path: "../assets/fonts";


// The app direction is used to include
// rtl styles in your app. For more info, please see:
// http://ionicframework.com/docs/theming/rtl-support/
$app-direction: ltr;


@import "ionic.globals";


// Shared Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass variables found in Ionic's source scss files.
// To view all the possible Ionic variables, see:
// http://ionicframework.com/docs/theming/overriding-ionic-variables/




// Named Color Variables
// --------------------------------------------------
// Named colors makes it easy to reuse colors on various components.
// It's highly recommended to change the default colors
// to match your app's branding. Ionic uses a Sass map of
// colors so you can add, rename and remove colors as needed.
// The "primary" color is the only required color in the map.

$colors: (
  primary:    #488aff,
  secondary:  #32db64,
  danger:     #f53d3d,
  light:      #f4f4f4,
  dark:       #222,
  yellow:     #e8eb50,
  completed:  #68bb81,
  receive:    #f39033
);


// App iOS Variables
// --------------------------------------------------
// iOS only Sass variables can go here




// App Material Design Variables
// --------------------------------------------------
// Material Design only Sass variables can go here




// App Windows Variables
// --------------------------------------------------
// Windows only Sass variables can go here




// App Theme
// --------------------------------------------------
// Ionic apps can have different themes applied, which can
// then be future customized. This import comes last
// so that the above variables are used and Ionic's
// default are overridden.

@import "ionic.theme.default";


// Ionicons
// --------------------------------------------------
// The premium icon font for Ionic. For more info, please see:
// http://ionicframework.com/docs/ionicons/

@import "ionic.ionicons";


// Fonts
// --------------------------------------------------

@import "roboto";
@import "noto-sans";
$text-input-ios-show-focus-highlight: true;

ion-alert, ion-alert.alert-ios{
  .alert-wrapper{
    font-family: "sans-serif";
    background-color: #f4f4f4;
    max-width: 265px;
    max-height: auto;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 1px 3px 10px rgba(0,0,0,0.13);
    .alert-head{
      padding: 20px;
      text-align: center;
    }
    .alert-title{
      font-family: "sans-serif";
      color: #000000;
      font-size: 20px;
      font-weight: normal;
      margin: 0 0 10px 0;
    }

    .alert-sub-title{
      color: #939598;
      font-size: 16px;
      font-family: "sans-serif";
      text-align: center;
      margin: 0;

      &:empty{
        display: none;
      }
    }

    .alert-message{
      color: #939598;
      font-size: 16px;
      margin-bottom: 20px;
      text-align: center;

      &:empty{
        display: none;
      }

      .mutual-info{
        text-align: left;
        display: inline-block;

        > div{
          margin-bottom: 5px;
          color: #000;

          span{
            flex: 0 0 40px;
            width: 40px;
            display: inline-block;
            text-align: center;
            margin-right: 10px;
          }
        }
      }
    }
    .alert-button{
      color: #939598;
      font-size: 16px;
      text-align: center;
      margin-left: auto;
      margin-right: auto;
      width: auto;
      flex: 1;
      height: 45px;
      border-right: none;
      padding: 15px 5px;
      &:nth-child(1){
        font-family: "sans-serif";
        color: #f32121;
        position: relative;
        font-weight: normal;
        &:before{
          content: "";
          width: 1px;
          height: 23px;
          background-color: #DBDBDB;
          display: block;
          position: absolute;
          left: 0;
          top: 12px;
        }
      }
      &:nth-child(2){
        font-family: "sans-serif";
        color: #1ab12e;
        position: relative;
        font-weight: normal;
        &:before{
          content: "";
          width: 1px;
          height: 23px;
          background-color: #DBDBDB;
          display: block;
          position: absolute;
          left: 0;
          top: 12px;
        }
      }
      .button-inner{
        justify-content: center;
      }
    }
    .alert-button-group{
      background: #fff;
      padding: 0 !important;
    }
  }

  &.alert-md{
    .alert-wrapper{
      font-family: "sans-serif";
      background-color: #f4f4f4;
      max-width: 265px;
      max-height: auto;
      border-radius: 8px;
      box-shadow: 1px 3px 10px rgba(0,0,0,0.13);
      .alert-button-group{
        text-align: center;
        justify-content: center;
        border-top: 1px solid #D8D8D8;
      }
    }
  }
}

ion-header button, .back-button {
  position: absolute;
  z-index: 5;
  top:0px;
}

ion-title {
  position: absolute;
  top: 0px;
  left: 0;
  // padding: 0 90px 1px;
  width: 100%;
  height: 100%;
  text-align: center;
}


.action-sheet-md {
  text-align: center;
}

.action-sheet-md .action-sheet-wrapper {
  margin: constant(safe-area-inset-top) auto constant(safe-area-inset-bottom);
  margin: env(safe-area-inset-top) auto env(safe-area-inset-bottom);
}

.action-sheet-md .action-sheet-container {
  padding: 0 10px;
}

.action-sheet-md .action-sheet-group {
  border-radius: 13px;
  margin-bottom: 8px;
  background: #f9f9f9;
}

.action-sheet-md .action-sheet-group:first-child {
  margin-top: 10px;
}

.action-sheet-md .action-sheet-group:last-child {
  margin-bottom: 10px;
}

.action-sheet-md .action-sheet-title {
  padding: 1.5rem;
  text-align: center;
  border-radius: 0;
  border-bottom: 0.55px solid #d6d6da;
  font-size: 1.3rem;
  font-weight: 400;
  color: #8f8f8f;
}

.action-sheet-md .action-sheet-button {
  margin: 0;
  padding: 18px;
  min-height: 5.6rem;
  border-bottom: 0.55px solid #d6d6da;
  font-size: 2rem;
  color: #007aff;
  background: transparent;
}

.action-sheet-md .action-sheet-button:last-child {
  border-bottom-color: transparent;
}

.action-sheet-md .action-sheet-button.activated {
  margin-top: -0.55px;
  border-top: 0.55px solid #ebebeb;
  border-bottom-color: #ebebeb;
  background: #ebebeb;
}

.action-sheet-md .action-sheet-selected {
  font-weight: bold;
  background: #fff;
}

.action-sheet-md .action-sheet-destructive {
  color: #f53d3d;
}

.action-sheet-md .action-sheet-cancel {
  font-weight: 600;
  background: #fff;
}

.btn-setting-fav{
  .label{
    margin: 0 !important;
  }
  .two-col-button{
    margin: 10px 5px;
    .button-inner{
      font-size: 16px;
      font-family: "sans-serif";
    }
  }
  .button{
    height: 35px;
    border-radius: 6px;
    box-shadow: none;
    border: 1px solid #F37021;
    // background: #F37021;
    color: #fff;

    // &.activated{
    //   background: #ffa168;
    //   border-color: #ffa168;
    // }

  
    &.cancel-btn{
      background: #fff;
      color: #f32121;
    }

    //   &.activated{
    //     background: #fff;
    //     color: #ffa168;
    //   }
    // }
  }
}