.user-profile {
  .user-avatar {
    margin-top: 2vh;
    width: 68px;
    height: 68px;
    display: inline-block;
    border-radius: 50%;
    box-shadow: inset 0 0 10rem rgba(0,0,0,.25), 0 0 4rem rgba(255,255,255,.45);
    img {
      border-radius: 50%;
    }
  }
    // .toolbar-background {
    //     background-image: linear-gradient(135deg, color($colors, dark), color($colors, primary));
    // }
  
  .other-data {
    .column {
      &:first-child {
        border-right: 1px solid rgba(36, 50, 157, .25);
      }
    }
  }
}
  
.user-list {
  .item {
    &:last-child {
      border-bottom: 0;
    }
    .item-inner {
      border-color: rgba(86, 61, 124, .1);
    }
  }
}


// remove shadow from header
.md {
    ion-header {
        &.no-shadow::after {
            background-image: none;
        }
    }
  
    ion-toolbar,
    ion-navbar {
      .button,
      .button.activated {
        box-shadow: none;
      }
    }
}
  
.ios {
    ion-list ion-item,
    .list-hotels .hotel-bg {
      pointer-events: none;
    }
}

.content-menu {
    // padding-top: 10px;
    background-color: #FFFFff; 
    background-image: url('../assets/imgs/Logo_BKF.jpg'); 
    margin-bottom: 15px; 
    text-align: center; 
    padding: 20px 0px 120px 0px;
    // border: #75c4fd solid 1px;
    background-repeat: no-repeat;
    background-size: 99.5vw 150px;
    text-align: center;
}

.block {
  position: relative;
  .deleteIcon {
    position: absolute !important;
    color: #ffffff !important;
    margin-left: 80% !important;
  }
  .deleteIcon:before {
    font-size: 30px !important;
  }

  .addIcon {
    position: absolute !important;
    color: blue !important;
    margin-left:47%;
    margin-right:47%;
    margin-top:42%;
    margin-bottom:42%;
  }
  .addIcon:before{
    font-size: 30px !important;
  }
}

.card-background-page {
  position: relative;
  // text-align: center;

  .addIcon {
    position: absolute !important;
    color: blue !important;
    margin-left:47%;
    margin-right:47%;
    margin-top:42%;
    margin-bottom:42%;
  }
  .addIcon:before{
    font-size: 30px !important;
  }

  .deleteIcon {
      position: absolute !important;
      color: #000 !important;
      margin-left: 80% !important;
      margin-top: 5% !important;
  }
  .deleteIcon:before {
      font-size: 30px !important;
  }

  .gps
  {
      font-size: 0.8rem;
      // position: absolute;
      color: #f36b6b;
      top: 90%;
      text-align: center;
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;
      width: 100%;
      // text-align: center;
  }
}

.cart-btn {
  position: relative;
  background-color: rgba(244, 244, 244, 0);
  .cart-badge {
    position: absolute;
    top: -0.5px;
    right: -9px;
    background-color: rgba(244, 244, 244, 0);
    color: #f36b6b;
    height: 16px;
    font-size: 0.8rem;
  }
}

.version{
  position: fixed;
  bottom: 0;
  right: 0;
}