<!--
  Generated template for the MoldinoutSearchPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <ion-title>Search</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-list>
    <form [formGroup]="form">
      <ion-item>
        <ion-label floating>Mold ID, BKF PartNumber, Customer PartNumber</ion-label>
        <ion-input type="text" formControlName="MoldId"></ion-input>
        <button ion-button icon-only clear item-end (click)="scan()">
          <ion-icon name="qr-scanner"></ion-icon>
        </button>
      </ion-item>
    </form>
    <div padding>
      <button ion-button icon-end full (click)="onSearchByMold()">
        Search
        <ion-icon name="search"></ion-icon>
      </button>
    </div>
  </ion-list>
    <ion-item *ngFor="let items of dataResult" (click)="viewHistory(items)">
      <h3>MoldID: {{ items?.moldId }}</h3>
      <p>Part No: {{ items?.partNo }}</p>
      <p>Cust No: {{ items?.custNo }}</p>
      <p>Part Name: {{ items?.partName }}</p>
      <p>Mold Maker: {{ items?.makerName }}</p>
      <p>Status: {{ items?.status }}</p>
      <ion-icon name="arrow-forward" item-end></ion-icon>
    </ion-item>
</ion-content>