<!--
  Generated template for the MoldmakerHistoryPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <ion-title>moldmaker-history</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>

  <ion-fab right bottom *ngIf="Mode == 'Current'">
    <button ion-fab mini #fab><ion-icon name="arrow-dropup"></ion-icon></button>
    <ion-fab-list side="top">
      <button ion-fab (click)="getImageFromCamera()"><ion-icon name="camera"></ion-icon></button>
      <button ion-fab (click)="getImageFromAlbum()"><ion-icon name="albums"></ion-icon></button>
    </ion-fab-list>
  </ion-fab>

  <ion-grid>
    <ion-row>
      <ion-col col-4>
        <h3>Detail :</h3>
      </ion-col>
      <ion-col col-8>
        <p>Mold ID :  {{ moldmakerModel?.getMoldBKF?.bkfview[0]?.moldId }} </p>
        <p>Actual Out :  {{ moldmakerModel?.getMoldBKF.bkfview[0]?.confirmDate }} </p>
        <p>Plan In :  {{ moldmakerModel?.getMoldBKF?.bkfview[0]?.planIn }} </p>
      </ion-col>
      <ion-col col-4>
        <h3>Reason :</h3>
      </ion-col>
      <ion-col col-8>
        <p> {{ moldmakerModel?.getMoldBKF?.bkfview[0]?.reason }} </p>
      </ion-col>
      <ion-col col-4>
        <h3>Remark :</h3>
      </ion-col>
      <ion-col col-8 >
        <p> {{ moldmakerModel?.getMoldBKF?.bkfview[0]?.remark }} </p>
      </ion-col>
    </ion-row>
  </ion-grid>

  <div padding *ngIf="moldmakerModel?.getMoldBKF?.bkfview[0]?.photo?.length > 0">
    <accordion-list 
      [title]="'Picture From BKF'"
      textColor="#FFF"
      hasMargin="false"
      headerColor="#f4f4f4"
      [expanded]="false">
      <ion-grid>
        <ion-row>
          <ion-col col-6 *ngFor="let items of moldmakerModel?.getMoldBKF?.bkfview[0]?.photo; let id = index">
            <ion-card class="block">
              <img style="height: 150px;" [src]="items?.photo" alt="" (tap)="tapViewPhoto(items?.photo)" />
            </ion-card>
          </ion-col>
        </ion-row>
      </ion-grid>
    </accordion-list>
  </div>

  <ion-segment [(ngModel)]="Mode">
    <ion-segment-button value="Current">
      <h6>Current</h6>
    </ion-segment-button>
    <ion-segment-button value="History">
      <h6>History</h6>
    </ion-segment-button>
  </ion-segment>
  <div [ngSwitch]="Mode">
    <ion-list *ngSwitchCase="'Current'">
      <form [formGroup]="form">
        <ion-list>
          <ion-item>
            <ion-textarea formControlName="Remark" placeholder="Remark" rows="6" autosize></ion-textarea>
          </ion-item>
        </ion-list>
      </form>
    
      <div padding *ngIf="moldmakerModel?.Images?.length > 0">
        <accordion-list 
          [title]="'%label.images%' | translate"
          textColor="#FFF"
          hasMargin="false"
          headerColor="#f4f4f4"
          [expanded]="true">
          <ion-grid>
            <ion-row>
              <ion-col col-6 *ngFor="let items of moldmakerModel?.Images; let id = index">
                  <ion-card class="card-background-page">
                  <ion-icon name="trash" class="deleteIcon" (click)="deletePhoto(id)"></ion-icon>
                  <img style="height: 150px" [src]="items?.photo" (tap)="tapViewPhoto(items?.photo)" alt="" />
                  <ion-card-content>
                    <p class="gps" (click)="openLaunchNavigator(items?.latitude, items?.longitude)">{{ items?.latitude }}, {{ items?.longitude }}</p>
                  </ion-card-content>
                </ion-card>
              </ion-col>
            </ion-row>
          </ion-grid>
        </accordion-list>
      </div>

      <ion-item no-padding class="btn-setting-fav">
        <ion-row class="two-col-button">
          <ion-col col-6>
            <button no-margin ion-button full large col-12 class="cancel-btn" (click)="onInprogress()">Inprogress</button>
          </ion-col>
          <ion-col col-6>
            <button no-margin ion-button full large col-12 (click)="onCompleted()">Completed</button>
          </ion-col>
        </ion-row>
      </ion-item>
    </ion-list>

    <ion-list *ngSwitchCase="'History'">
      <ion-item *ngFor="let items of moldmakerModel?.getMoldBKF?.history">
        <h3>Mold : {{ items?.moldid }}</h3>
        <p>Date : {{ items?.createdate | datetime: 'dateAndTime' }}</p>
        <button ion-button clear item-end (click)="viewHistory(items)">View</button>
      </ion-item>
    </ion-list>
  </div>
</ion-content>
