<!--
  Generated template for the MoldinoutConfirmInPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <ion-title>moldinout-confirm-reject</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <form [formGroup]="form">
    <ion-item>
      <ion-label floating>Remark</ion-label>
      <ion-textarea formControlName="Remark" rows="6" autosize></ion-textarea>
    </ion-item>
  </form>
</ion-content>

<ion-footer>
  <ion-item no-padding class="btn-setting-fav">
    <ion-row class="two-col-button">
      <ion-col col-6>
        <button no-margin ion-button full large col-12 class="cancel-btn" (click)="backPage()">{{ '%btn.back%' | translate }}</button>
      </ion-col>
      <ion-col col-6>
        <button no-margin ion-button full large col-12 [disabled]="!form.valid" (click)="onConfirmIn()">{{ '%btn.survey.save%' | translate }}</button>
      </ion-col>
    </ion-row>
  </ion-item>
</ion-footer>
