<ion-list class="accordion-menu">
  <ion-list-header no-lines no-padding>
    <button ion-item detail-none
            [style.background]="headerColor"
            (click)="toggleAccordion()"
            class="accordion-header"
            [class.active]="expanded">
        <ion-icon
        item-left
        name="ios-arrow-forward">
        </ion-icon>
        {{ title }}
    </button>
    <section #accordionContent
            [style.background]="contentColor"
            [class.active]="expanded"
            class="accordion-content">
      <ng-content></ng-content>
    </section>
  </ion-list-header>
</ion-list>