<ion-grid style="display: block; margin: 0px;">
  <pre style="text-align: left; font-family: sans-serif;padding: 0px 0px 0px 15px;">รายการอนุมัติ</pre>
    <ion-row *ngFor="let items of taggedApprove">
      <ion-col col-4 align-self-center>
        <p style="text-align: right; font-family: sans-serif; font-size: 0.8em;">{{ items.fullName }}</p>
      </ion-col>
      <ion-col col-3 align-self-center>
        <div *ngIf="items.status == 'Waiting'">
          <p style="color: blue; text-align: left; font-family: sans-serif; font-size: 0.8em;">{{ items.status }}</p>
        </div>
        <div *ngIf="items.status == 'Reject'">
          <p style="color:red; text-align: left; font-family: sans-serif; font-size: 0.8em;">{{ items.status }}</p>
        </div>
        <div *ngIf="items.status == 'ApproveOut' || items.status == 'ApproveIn'">
          <p style="color:#65a506; text-align: left; font-family: sans-serif; font-size: 0.8em;">Approve</p>
        </div>
      </ion-col>
      <ion-col col-3 align-self-center>
        <p style="text-align: left; font-family: sans-serif; font-size: 0.8em;">{{ items.date }}</p>
      </ion-col>
      <ion-col col-2 align-self-center *ngIf="(items.remark) && (items.remark != '')">
        <button id="notification-button" ion-button clear (click)="viewRemark(items.remark)">
          <ion-icon name="alert">
          </ion-icon>  
        </button>
      </ion-col>
    </ion-row>
  </ion-grid>