<!--
  Generated template for the SurveyHistoryPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <ion-title>History</ion-title>
  </ion-navbar>
  <ion-toolbar no-border-top>
    <ion-segment [(ngModel)]="Mode">
      <ion-segment-button value="formMold">
        <h6>MOLD</h6>
      </ion-segment-button>
      <ion-segment-button value="formDate">
        <h6>HISTORY</h6>
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div [ngSwitch]="Mode">
    <form [formGroup]="form">
      <ion-list *ngSwitchCase="'formMold'">
        <ion-item>
          <ion-label floating>Mold ID, BKF PartNumber, Customer PartNumber</ion-label>
          <ion-input type="text" formControlName="MoldId"></ion-input>
          <button ion-button icon-only clear item-end (click)="scan()">
            <ion-icon name="qr-scanner"></ion-icon>
          </button>
        </ion-item>
        <div padding>
          <button ion-button icon-end full (click)="onSearchByMold()">
            Search
            <ion-icon name="search"></ion-icon>
          </button>
        </div>

        <ion-list>
          <ion-item *ngFor="let items of surveyModel?.surveyMoldHistory?.search" (click)="viewHistory(items)">
            <h3>MoldID: {{ items.MoldId }}</h3>
            <p>CustNo: {{ items.AssetId }}</p>
            <p>PartNo: {{ items.Plate }}</p>
            <p>CreateDate: {{ items.CreateDate | datetime: 'dateAndTime' }}</p>
            <ion-icon name="arrow-forward" item-end></ion-icon>
          </ion-item>
        </ion-list>
      </ion-list>
      
      <ion-list *ngSwitchCase="'formDate'">
        <ion-item>
          <ion-label>From </ion-label>
          <ion-datetime pickerFormat="DD/MM/YYYY" pickerFormat="DD/MM/YYYY" formControlName="fromDate"></ion-datetime>
        </ion-item>
        <ion-item>
          <ion-label>To </ion-label>
          <ion-datetime displayFormat="DD/MM/YYYY" pickerFormat="DD/MM/YYYY" formControlName="toDate"></ion-datetime>
        </ion-item>
        <div padding>
          <button ion-button icon-end full [disabled]="!form.valid" (click)="onSearchByDate()">
            Search
            <ion-icon name="search"></ion-icon>
          </button>
        </div>
        <ion-list>
          <ion-item *ngFor="let items of surveyModel?.surveyMoldHistory?.search" (click)="viewHistory(items)">
            <h3>MoldID: {{ items.MoldId }}</h3>
            <p>CustNo: {{ items.AssetId }}</p>
            <p>PartNo: {{ items.Plate }}</p>
            <p>CreateDate: {{ items.CreateDate | datetime: 'dateAndTime' }}</p>
            <ion-icon name="arrow-forward" item-end></ion-icon>
          </ion-item>
        </ion-list>
      </ion-list>
    </form>
  </div>
</ion-content>
