<!--
  Generated template for the MoldinoutViewMoldmakerPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <ion-title>View MoldMaker</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <accordion-menu *ngFor="let item of moldMakerModel?.bkfview?.bkfviewHistory; let i = index"
    [title]="item?.createDate"
    textColor="#0f0f0f"
    hasMargin="false"
    headerColor="#f4f4f4"
    [expanded]="i === 0">
    <ion-list>
      <ion-item>
        <ion-label fixed>MoldID</ion-label>
        <ion-input type="text" value="{{ item?.moldId }}" [disabled]="true"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label fixed>Status</ion-label>
        <ion-input type="text" value="{{ item?.status }}" [disabled]="true"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label fixed>CreateDate</ion-label>
        <ion-input type="text" value="{{ item?.createDate }}" [disabled]="true"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label fixed>Remark</ion-label>
        <ion-textarea value="{{ item.remark }}" value="{{ item?.remark }}" [disabled]="true" autosize></ion-textarea>
      </ion-item>
      <ion-grid>
        <ion-row>
          <ion-col col-6 *ngFor="let photo of item?.photo; ">
            <ion-card class="card-background-page">
              <!-- <img style="height: 150px" [src]="photo?.photo" (tap)="tapViewPhoto(photo?.photo)" alt="" /> -->
              <img style="height: 150px" src="{{IP}}/survey/showImage?filename={{photo.photo}}" (tap)="tapViewPhoto(photo?.photo)" alt="" />
              <ion-card-content>
                <p class="gps" (tap)="openLaunchNavigator(photo?.latitude ,photo?.longitude)">{{ photo?.latitude }}, {{ photo?.latitude }}</p>
              </ion-card-content>
            </ion-card>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-list>
  </accordion-menu>
</ion-content>
