<!--
  Generated template for the EditImagesPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <ion-title>edit-images</ion-title>
    <ion-buttons end>
      <button ion-button (click)="presentActionSheet()">
        <ion-icon name="md-create"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item-group [reorder]="order" (ionItemReorder)="reorderItems($event)">
      <ion-item *ngFor="let item of moldinoutModel?.Images; let i = index" (click)="selectImage(item,i)">
        <ion-thumbnail item-start ><img [src]="item.photo" alt="" /></ion-thumbnail>
        <p>Latitude: {{ item.latitude }}</p>
        <p>Longitude: {{ item.longitude }}</p>
      </ion-item>
    </ion-item-group>
  </ion-list>
</ion-content>
