<!--
  Generated template for the MoldinoutApprovePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <ion-title>Mold In/Out {{ moldinoutModel?.ApproveType }}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <form [formGroup]="form">
    <ion-list>
      <ion-item>
        <ion-textarea formControlName="Remark" placeholder="Remark" rows="8" autosize></ion-textarea>
      </ion-item>
    </ion-list>
  </form>
</ion-content>

<ion-footer>
  <ion-item no-padding class="btn-setting-fav">
    <ion-row class="two-col-button">
      <ion-col col-6>
        <button no-margin ion-button full large col-12 class="cancel-btn" (click)="onCancel()">Back</button>
      </ion-col>
      <ion-col col-6>
        <button no-margin ion-button full large col-12 (click)="ConfirmSaveData()">Confirm</button>
      </ion-col>
    </ion-row>
  </ion-item>
</ion-footer>
