<!--
  Generated template for the MoldinoutWaitingForApprovePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <ion-title>moldinout-waiting-for-approve</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item *ngFor="let item of moldinoutModel?.getWaiting?.getWaiting;let i = index">
      <h2>Mold : {{ item.moldid }}</h2>
      <p>Status : {{ item.status }}</p>
      <button ion-button clear item-end (click)="viewHistory(item)">View</button>
    </ion-item>
  </ion-list>
</ion-content>
