page-moldinout-create {
    .imagesType {
        padding: 15px 0px 10px 0px;
        max-width: 100%;
        position: relative;
    
        .imagesName{
            margin-left: 24px;
            max-width: 100%;
            text-transform: uppercase;
            text-overflow: ellipsis;
            text-align: center;
            position: absolute;
        }
        .imagesEdit {
            width: 100%;
            max-width: 100%;
            margin-left: 83%;
            margin-right: 20px;
            position: absolute;
        }
    }
}
