accordion-menu {
    .nomargin {
        margin: 0 !important;
    }

    .accordion-header {
        color: white;

        .item-inner {
            margin-left: 0 !important;
        }

        ion-icon {
            transition: all .25s ease-in;
            transform: rotate(0);
        }
    }

    .accordion-content {
        transition: 0.3s ease-in-out;
        &.active {
            padding: .0rem;
        }
    }

    .label {
        margin: 0px;
    }

    .list-md {
        margin: 0px
    }

    .list-header-md{
        margin-bottom: 0px;
    }
}

